@import "global";

body {
    min-height: 100vh;
    overflow-x: hidden;
    // font-family: "Poppins", sans-serif;
    font-family: "Lato", sans-serif;
    background: $primary;
}

#root {
    width: 100%;
    height: 100vh;
}

.tabs.active,
.modal input,
.modal select {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
        background: transparent;

    }
}

button[type="submit"] {
    background: $primary !important;
    color: $secondary !important;
    transition: all .2s ease-in !important;
    border: 1px solid transparent !important;

    &:hover {
        background: $modal-bg !important;
        border-color: $primary !important;
    }

    &:focus {
        outline: none !important;
        --tw-ring-color: rgb(168 162 158) !important;
        border-color: rgb(168 162 158) !important;
    }

    span {
        display: flex;
        align-items: center;
    }
}

.btn {
    background: $primary;
    color: $secondary;
    transition: all .2s ease-in;
    border: 1px solid transparent;

    &:hover {
        background: $modal-bg;
        border-color: $primary;
    }

    &:focus {
        outline: none !important;
        --tw-ring-color: rgb(168 162 158);
        border-color: rgb(168 162 158);
    }
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;

    $openWidth : 300px;
    $closeWidth : 80px;

    aside {
        width: $openWidth;
        height: calc(100% - 20px);
        position: fixed;
        transition: 0.5s;
        z-index: 1;

        .menu-icon {
            &:hover {
                svg {
                    transition: .2s ease;

                    transform: translateX(-5px);
                }
            }
        }

        &.active {
            width: $closeWidth;

            .navigation ul {
                .nav-line {
                    width: 80%;
                }

                li {
                    a {
                        .icon {
                            margin-right: 15px;
                            transition: margin .5s ease-in;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            &:hover {
                                background: transparent;
                            }
                        }
                    }

                    &.last-li {
                        a {
                            width: 60px;
                        }
                    }
                }
            }


            &>button {
                &:hover {
                    svg {
                        transform: rotate(180deg) translateX(-5px);
                    }
                }

                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &>button {
            position: absolute;
            top: 13px;
            right: -10px;
            background: #2b2c2b;
            width: 40px;
            height: 40px;
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;
            @include flex-center;

            &::before,
            &::after {
                content: "";
                position: absolute;
                right: -15px;
                width: 42px;
                height: 54px;
                background: transparent;
                border-radius: 50%;
                pointer-events: none;
            }

            &::before {
                top: -50px;
                box-shadow: -35px 35px 0 10px $primary;
            }

            &::after {
                bottom: -50px;
                box-shadow: -35px -35px 0 10px $primary;
            }

            svg {
                transition: all .5s ease-in;
                font-size: 1.5rem;
                position: relative;
                z-index: 2;
                color: $secondary;
            }
        }

        .navigation {
            width: 100%;
            height: 100%;
            background: $primary;
            border-left: 10px solid $primary;
            overflow: hidden;
            position: relative;


            ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include flex-col;

                .nav-line {
                    width: 94%;
                    margin-top: auto;
                    margin-bottom: 18px;
                    opacity: .3;
                }

                li {
                    position: relative;
                    width: 100%;
                    list-style: none;


                    &:nth-child(1) {
                        margin-bottom: 40px;
                        margin-top: 10px;

                        a {
                            width: max-content;
                            padding-left: 8px;

                            &:hover,
                            &.pro-active {
                                border-radius: 50px;
                                background-color: transparent;

                                h5 {
                                    color: $primary;
                                }

                                &::after,
                                &::before {
                                    box-shadow: none;
                                }
                            }
                        }


                        .icon {
                            padding: 0px;
                            min-width: 35px;
                            height: max-content;
                        }

                        .title {
                            text-transform: capitalize;
                        }

                        img {
                            max-width: 35px;
                        }
                    }

                    &.noti-li {
                        position: relative;

                        svg {
                            z-index: 0;
                        }

                        .badge {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            width: 18px;
                            height: 18px;
                            background: #d85d5d;
                            border-radius: 50%;
                            z-index: 0;
                            font-size: 11px;
                            @include flex-center;
                        }
                    }

                    &.last-li {

                        a {
                            width: max-content;
                            padding-right: .8rem;

                            &:hover {
                                border-radius: 50px;
                                // color: black;
                            }

                            &::before,
                            &::after {
                                display: none;
                            }
                        }
                    }

                    a {
                        position: relative;
                        width: 100%;
                        display: flex;
                        text-decoration: none;
                        color: $secondary;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        height: 48px;
                        align-items: center;

                        &:hover,
                        &.active,
                        &.pro-active {
                            background: $secondary;
                            color: $primary;

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                right: 0;
                                width: 50px;
                                height: 50px;
                                background: transparent;
                                border-radius: 50%;
                                pointer-events: none;
                            }

                            &::before {
                                top: -50px;
                                box-shadow: 35px 35px 0 10px $secondary;
                            }

                            &::after {
                                bottom: -50px;
                                box-shadow: 35px -35px 0 10px $secondary;
                            }

                        }

                        .icon {
                            @include flex-center-v;
                            position: relative;
                            min-width: 55px;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                            padding-left: 15px;

                            svg {
                                font-size: 1.5rem;
                            }
                        }

                        .title {
                            position: relative;
                            display: block;
                            padding: 0 10px;
                            height: 60px;
                            line-height: 60px;
                            text-align: start;
                            white-space: nowrap;
                        }
                    }

                }
            }
        }
    }

    main {
        width: calc(100% - (#{$openWidth} + 20px));
        height: calc(100% - 20px);
        position: absolute;
        left: calc($openWidth + 10px);
        transition: 0.5s;
        background: $secondary;
        border-radius: 25px;
        padding: 15px 15px 15px 20px;
        overflow: auto;

        &.active {
            width: calc(100% - (#{$closeWidth} + 20px));
            left: calc($closeWidth + 10px);
        }

        &>div {
            height: 100%;
            position: relative;
        }
    }
}

.team-header {
    @include shadow-box;
    @include flex-center-v;
    justify-content: space-between;
    @include shadow();
    margin-bottom: 1.5rem;

    span {
        // &:nth-child(1) {}

        &:nth-child(2) {
            button {
                background: $secondary;
                transition: all .2s ease-in;

                &:hover {
                    background: $primary;
                }
            }
        }
    }

}

.employee-section {
    @include shadow-box;
    @include shadow;

    .employee {
        @include flex-center-v;
        justify-content: space-between;

        span {
            &:first-child {
                h5 {
                    color: $primary;
                }
            }

            &:last-child {
                display: flex;
                gap: 15px;
            }
        }

    }
}

.nodata {
    @include flex-center;
    gap: 5px;
    opacity: .5;
    flex-direction: column;
    padding: 1rem 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}

.modal-con {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: 90;
    @include flex-center;
    background-color: $modal-bg !important;
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);

    .modal-content {
        padding: 1rem;
        max-width: 28rem;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 99;

        &>div {
            background: $secondary;
            border-radius: 15px;
            padding: 1.5rem;
            position: relative;
            overflow: hidden;

            .modal-close {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                background: none;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                transition: all .3s ease;

                &:hover {
                    transform: rotate(180deg);
                }
            }

            .bg-icon {
                position: absolute;
                left: -85px;
                top: -60px;
                transform: rotate(22deg);
                color: #4c4c4c14;
                z-index: 0;
                font-size: 14rem;
            }

            .add-icon {
                position: absolute !important;
                right: -55px;
                bottom: -55px;
                transform: rotate(22deg);
                color: #4c4c4c14;
                z-index: 1;
                font-size: 14rem;
            }

        }
    }

    input,
    select,
    textarea {
        border: 1px solid $primary;
        background: $secondary;

        &:focus {
            outline: none !important;
            --tw-ring-color: rgb(168 162 158);
            border-color: rgb(168 162 158);
        }
    }

    select {

        // color: #6f7682;
        option {
            background: $secondary;
            color: $primary !important;

            &:nth-child(1) {
                color: $disable;
            }
        }
    }

    // &>div {
    //     &>div {
    //         // background: unset;
    //         background: $secondary;
    //     }
    // }

    .btn {
        background: $primary !important;
        color: $secondary !important;
        transition: all .2s ease-in !important;
        border: 1px solid transparent !important;

        &:hover,
        &:focus {
            background: $modal-bg !important;
            border-color: $primary !important;
            outline: none !important;
            --tw-ring-color: transparent;
        }

    }
}

.table-con {
    height: calc(100vh - 280px);
    border-radius: .5rem;
    margin-top: 1.8rem;

    .table-bg {
        opacity: 1;
        background-color: $table-bg;
        border-radius: .5rem;
    }

    .bg-white {
        opacity: unset;
        background-color: unset;
    }

    table {
        overflow-y: auto;

        th {
            background-color: $primary;
            color: $secondary;
        }
    }

    .actions {
        display: flex;
        gap: 15px;
    }
}

.edit {
    font-size: 1.1rem;

    &.off {
        svg {
            color: $disable;
        }
    }

    svg {
        color: $blue;
    }
}

.delete {
    font-size: 1.1rem;

    &.off {
        svg {
            color: $disable;
        }
    }

    svg {
        color: $red;
    }
}

.square-btn {
    background: $primary;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
    @include flex-center;

    &.lock {
        font-size: 15px;
    }

    svg {
        color: $secondary;
    }
}

.profile-container {
    color: $primary;

    .text-size-sm {
        font-size: 15px;
    }

    table {
        tr {
            td {
                &:first-child {
                    position: relative;
                    padding-left: 10px;
                    line-height: 1;

                    &::before {
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: $modal-bg;
                        display: inline-block;
                        margin-right: 5px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }

                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }
}

// profile edit form
.modal-body {
    &:has(>.edit-profile) {
        height: calc(100vh - 110px);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
    }
}

.edit-profile {
    margin-right: 10px;

    #file-upload-helper-text{
        border: 1px solid $primary;
        &::placeholder {
            color: $placeholder !important;
            font-weight: inherit;
        }
    }
    input[type=file]{
        &::file-selector-button{
            background: $accent;
            color:$primary;
            
            &:hover{
                background: $accent;
                color:$primary;
            }
            
            span {
                color: $placeholder !important;
                font-weight: inherit;
            }
        }
    }

    .preview-box{
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            object-fit: contain;
        }

        button{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.datepick {
    input {
        padding-left: .625rem !important;
        font-weight: 500;

        &::placeholder {
            color: $placeholder !important;
            font-weight: inherit;
        }
    }
}

.addon {
    span {
        border: 1px solid $primary;
        border-right: none;
        background: $accent;
    }
}



@media (max-width:768px) {
    .profile-container {
        flex-direction: column;

        .col {
            width: 100%;

            &:last-child {
                gap: 1.5rem;

                &>div {
                    &:last-child {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .profile-container {
        table tr {
            td {
                &:first-child {
                    line-height: 1;
                }

                &:last-child {
                    padding: 0;
                }
            }
        }

        .col {
            &:last-child {
                &>div {
                    &:last-child {
                        &>div {
                            padding-bottom: 0 !important;
                            width: 290px !important;
                            height: 290px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:436px) {
    .profile-container {
        table {
            tbody {}

            tr {
                display: flex;
                flex-direction: column;
                line-height: 2;
                margin-bottom: 1rem;

                &:last-child {
                    margin: 0;
                }

                td {
                    &:last-child {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}